<head>
  <title>Aptitude</title>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <!-- <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" type="text/css" href="/lib/pivot.min.css">
  <script type="text/javascript" src="/lib/pivot.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/af.js"></script>
</head>
<body className="hold-transition skin-blue sidebar-mini">
  <div id="root">
</div>
</body>
