

#jumbotron {
  height: 1000px;
}
.pageList .jumbotronClient {
  height: 1000px;
  background:#f0f3f4;
  overflow:auto;
  padding: 20px 15px;
}
.pageList #navbar {
  padding-right: 100px;
}
.pageList .user {
  padding-left: 920px;
  padding-top: 15px;
  color: white;
}
.pageList #navbar1 {
  font-family: Noto Sans, sans-serif;
  background: #006599;
  font-size: 14px;
}
.pageList .btnCustom {
  padding-left: 50px;
  padding-top: 20px;
}
.pageList .btn-primary {
  font-size: 18px;
}
.workflow_button {
padding: 35px;
font-family: Noto Sans, sans-serif;
color: white;
background: #008CBA;
height: 100px;
width: 200px;
margin-right: 15px;
}
.pageList #navbarCollapse {
  font-family: Noto Sans, sans-serif;
  background: #006599;
  font-size: 14px;
}
.pageList #navbarCollapse a {
  color: white;
  font-size: 18px;
}
