@font-face {
    font-family: 'Helvetica Neue';
    src: url(fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/SourceSansPro-Regular.ttf);
}
body {
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
table{
	background-color: white;
}
	td {
		vertical-align: middle !important;
	}
	.margin-top20 {
		margin-top: 20px;
        font-size: medium;
	}
	.round-primary {
		background: #2BACE3;
		color: white;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: inline-block;
		text-align: center;
		font-size: 15px;
	}
	.round-danger {
		background: #D73925;
		color: white;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: inline-block;
		text-align: center;
		font-size: 15px;
	}
	.round-primary .fa, .round-danger .fa {
		    line-height: 30px;
	}
	.round-primary:hover, .round-danger:hover {
		color: white;
	}
	.edit .fa {
		line-height: 32px;
		margin-left: 3px;
	}
    .actionTd{
        text-align: center;
    }