.main-header .navbar{
    background:#263958;
    margin-left: 0px;

}

a {
    color: #FFF 
}

.main-sidebar, .left-side{
    background:#263958;
}


.ml20{
    margin-left: 20px;
}
.logo-lg {
    color: #fff;
}


.main-header .sidebar-toggle:hover{
    color: #245485;
}

/*.....................................contant......................................*/

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #337ab7;
    color: #fff;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    color: #fff;
    background: #337ab7;
}
.content-wrapper {
    background: #fff none repeat scroll 0 0;
    padding:70px 40px;
    margin-left: 0 !important;
}

thead {
    background:#263958 none repeat scroll 0 0;
    color: #fff;
}

.pager li > a, .pager li > a {
    background-color: #263958 ;
    color: #fff;
}
.pager li>a:focus, .pager li>a:hover {
    text-decoration: none;
    background-color: #245485;
}


.navbar-nav > li > a:hover{
    background: #245485;
    color: #ffffff;
}
.mt8{
    margin-top: 8px;
}

.box{
    background:#f7fdfe;


}
.box-footer{
    background: #f7fdfe;
}

.nav.nav-pills.pull-right.on-off {
    margin-top: 13px;
}

.mt25{
    margin-top: 25px;
}
.mt42{
    margin-top: 42px;
}

.mt8.gtext {
    font-size: 16px;
    margin-right: 10px;
}
.user-menu{
    border-left: 1px solid #0c192f;
}

.customizer .customizer-toggle {
    position: absolute;
    top: 25%;
    width: 44px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background: #fff;
}
.customizer a.customizer-toggle, .customizer a.customizer-close {
    color: rgba(0, 0, 0, 0.87);
}
.customizer a {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
    color: rgba(0, 0, 0, 0.87);

}
.small-box.bg-primary {

    color:#fff;
    background-color:#099eb7;

}

.icon-style{
    color: rgba(27,100,163,1) ;
    padding: 5px 8px;
}



.icon-style:hover{
    color: #fff;
    padding: 5px 8px;
    background:rgb(38,57,88);
    border-radius: 50%;
}