#viewFormDiv{
	/*display:none;*/
}

.formListContainer{
    width: 100%;
	float: left;
	padding: 3% 10%;
	background-color: white;
}

.formList{
	width: 100%;
	float: left;
	border-collapse: collapse;
}


.userList{
	list-style-type: none;
}

.formImg{
	width: 30%;
}

/********************************************* view form ****************************************************/

.formViewCont{
	width: 100%;
	float: left;
	padding: 0% 30%;
}

.formPage{
	width: 100%;
	float: left;
	background-color: white;
	border: 5px solid #a7a7a7;
}

.formTitle{
	width: 100%;
	float: left;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 0px;
	background-color: #a7a7a7;
}

.formElementCont{
	width: 100%;
	float: left;
	padding: 3% 5%;
}

.form-group{
	font-size: 16px;
}

.form-control{
	border-radius: 0px;
}
